{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>영양제 미리보기</title>
</head>
<body>
    <h1>{{ info.name }} 미리보기</h1>

    <!-- action 속성을 'save_info/' URL로 변경 -->
    <form action="{% url 'supplements:save_info' %}" method="post">
        {% csrf_token %}
        <label for="supplement_name">영양제 이름:</label>
        <input type="text" id="supplement_name" name="supplement_name" value="{{ info.name }}" required> <!-- 이 부분을 수정 -->
        <table border="1">
            <thead>
                <tr>
                    <th>영양소</th>
                    <th>복용량</th>
                    <th>단위</th>
                </tr>
            </thead>
            <tbody>
                {% for nutrient in info.nutrients %}
                    <tr>
                        <td><input type="text" name="nutrients[{{ forloop.counter0 }}][name]" value="{{ nutrient.name }}" /></td>
                        <td><input type="text" name="nutrients[{{ forloop.counter0 }}][dosage]" value="{{ nutrient.dosage }}" /></td>
                        <td>{{ nutrient.unit }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit">저장</button>
    </form>
</body>
</html>
{% endblock %}