{% extends "base.html" %}

{% block above_input_form %}
    <div class="row justify-content-start" style="padding-left: 32px; margin-bottom: -20px;"> <!-- justify-content-start를 사용하여 왼쪽 정렬 -->
        <a href="{% url 'user:logout' %}"> <!-- 로그아웃 URL로 이동 -->
            <button class="btn btn-danger" style="margin-left: 0;">로그아웃</button> <!-- 버튼 스타일을 'danger'로 설정 -->
        </a>
    </div>
{% endblock %}

{% block content %}
    <h2 class="mb-4"><b>나의 영양제 목록</b></h2>
    <div class="container">
        <div class="row flex-row flex-nowrap" style="overflow-x: auto;">
            <!-- 페이지 추가 카드 -->
            <div class="col-4">
                <div class="card text-center mb-3 add-card" style="width: 10rem;" id="add-card">
                    <div class="card-body">
                        <span class="plus-sign">+</span>
                    </div>
                </div>
                <input type="file" id="file-upload" style="display: none;" accept="image/*" />
            </div>
            <script>
                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie !== '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = cookies[i].trim();
                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }
                document.getElementById('add-card').addEventListener('click', function() {
                    document.getElementById('file-upload').click();
                });
            
                document.getElementById('file-upload').addEventListener('change', function() {
                    var fileInput = document.getElementById('file-upload');
                    var file = fileInput.files[0];
                    var formData = new FormData();
                    formData.append('file', file);

                    // CSRF 토큰 가져오기
                    var csrftoken = getCookie('csrftoken');

                    fetch('/supplements/upload_image/', { // 이 URL로 연결
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                        body: formData
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            window.location.href = '/supplements/process_image'; // 전처리 페이지로 리다이렉트
                        }
                    });
                });

            </script>
            <!--영양제 리스트-->
            {% for supplement in supplements %}
                <div class="col-4"> <!-- 양 옆 여백을 15픽셀로 설정 -->
                    <a href="{% url 'supplements:supplement_detail' supplement.id %}">
                        <div class="card text-center mb-3 random-color" style="width: 10rem;">
                            <div class="card-body">
                                {{ supplement.name }}
                                <small>{{ supplement.created_at|date:"Y.m.d" }}</small>
                            </div> <!-- card-body 닫기 -->
                        </div> <!-- card 닫기 -->
                    </a>
                </div> <!-- col-4 닫기 -->
            {% endfor %}
        </div>
    </div>
    <hr>
    <h2 class="mb-4 mt-4"><b>나의 섭취 현황</b></h2>
    <div class="container">
        {% for nutrient, percentage in intake_percentages.items %}
            <h6>{{ nutrient }}</h6>
            <div class="mb-3" style="display: flex; align-items: center;">
                <div class="progress" style="width: 90%;">
                    <div class="progress-bar" role="progressbar" style="width: {{ percentage|floatformat:1|default:"0" }}%;" aria-valuenow="{{ percentage|floatformat:1|default:"0" }}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p style="margin-left: 10px; margin-bottom: 10px; line-height: 1;">{{ percentage|floatformat:1|default:"0" }}%</p> <!-- 여기서 line-height와 margin-bottom을 조절하여 완벽한 정렬을 달성할 수 있습니다. -->
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        window.onload = function() {
            var colorCombos = [
                {bg: "bg-primary", text: "text-white"},
                {bg: "bg-secondary", text: "text-white"},
                {bg: "bg-success", text: "text-white"},
                {bg: "bg-danger", text: "text-white"},
                {bg: "bg-warning", text: "text-dark"},
                {bg: "bg-info", text: "text-dark"},
                {bg: "bg-dark", text: "text-light"},
            ];

            var randomColorCards = document.querySelectorAll('.random-color');

            randomColorCards.forEach(function(card) {
                var randomCombo = colorCombos[Math.floor(Math.random() * colorCombos.length)];
                card.classList.add(randomCombo.bg);   // 랜덤 배경색 추가
                card.classList.add(randomCombo.text); // 랜덤 텍스트 색상 추가
            });
        };
    </script>
{% endblock %}